.btn {
  padding: 0.75rem 1.5rem;
  background-color: var(--medium-champagne);
  font-weight: bold;
  font-size: 1rem;
  color: var(--blue-sapphire);
  box-shadow: 0.1rem 0.1rem 0.35rem var(--rich-black-fogra-29);
}
